.talent_item {
    background-color: #fff;
    border: 2px solid rgba(245, 244, 243, 0.842) ;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
  
  .talent_item:hover {
    border: 1px solid rgb(45, 99, 133);
  }
  
  
  .talent_item_img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    
  }
  
  .talent_item_title {
    padding: 20px 30px 30px;
    
  }
  
  .talent_item_title h5 {
  
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .talent_item_title p {
    font-size: 15px;
    margin: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .talent_item_text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }
  
  
  .fa-star {
    color: #ffe920;
  }